<h5 class="mb-5">
  <a
    *ngIf="this.areaName == null"
    [routerLink]="[
      '/processes',
      { id: this.areaId, name: this.process.areaName }
    ]"
    ><fa-icon class="fa-lg" [icon]="icons.faCircleArrowLeft"></fa-icon
  ></a>
  <a
    *ngIf="this.areaName != null"
    [routerLink]="['/processes', { id: this.areaId, name: this.areaName }]"
    ><fa-icon class="fa-lg" [icon]="icons.faCircleArrowLeft"></fa-icon
  ></a>
  Process {{ getTitleMethod() }}
</h5>

<form>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="mb-3" for="name">Name</label>
        <input
          [(ngModel)]="process.name"
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Type a name"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="mb-3" for="description">Description</label>
        <input
          [(ngModel)]="process.description"
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="Type a description"
        />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <div>
      <a
        [routerLink]="['/processes', this.id, this.process.name]"
        *ngIf="this.id"
        type="submit"
        class="btn btn-primary"
      >
        View Process
      </a>
    </div>
    <button (click)="submit()" type="submit" class="btn btn-success">
      Submit
    </button>
  </div>
</form>
