<h5>
  <fa-icon [icon]="icons.faLayerGroup"></fa-icon>
  Area
</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let area of areas">
      <th class="col col-3" scope="row">{{ area.id }}</th>
      <td class="col col-3">{{ area.name }}</td>
      <td class="col col-3">{{ area.description }}</td>
      <td class="col col-3">
        <div>
          <a [routerLink]="['/area', area.id]" class="me-3">
            <fa-icon [icon]="icons.faTools"></fa-icon>
          </a>
          <fa-icon [icon]="icons.faTrash"></fa-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>
